<h1>About</h1>
<p>The world's top scientists, creatives, politicians and celebrities gathered on a chilly
September morning in Geneva to brainstorm on what the world's next great app would be. All these people were escorted into a large building and did not come out for several days. Hundreds of onlookers amassed at the doors of the auditorium, hoping to see or hear something. Days passed.</p>
<p>Then, on the fifth day, a commotion. The Queen of England, flanked by security guards, appeared on the building's second-story balcony with a megaphone.</p>
<p>"Hear ye, hear ye," the gentile Queen said. "I do declare that BlocItOff, a new self-destructing to-do list application, is what the world has been waiting for!"</p>


