<%= form_for todo, remote: true do |f| %>
<div id="addTodoText">
	<%= f.text_field :description, class: 'form-control', placeholder: "Todo description" %>
	<%= f.submit "Add To-Do", class: 'btn btn-success' %>
</div>
<% end %>