<%= content_tag :tr, class: 'media', id: "todo-#{todo.id}" do %>
	<td>
		<%= todo.description %>
	</td>
	<td>
		<%= "#{time_ago_in_words(todo.created_at)} ago" %>
	</td>
	<td>
		<% if todo.completed %>
			Completed
		<% else %>
			<%= link_to "", todo, method: :delete, class: 'btn-default
glyphicon glyphicon-ok' %>
		<%end%>
	</td>
<% end %>