<%= content_tag :tr, class: 'media', id: "todo-#{todo.id}" do %>
	<td>
		<%= todo.description %>
	</td>
	<td>
		<%= "#{(((todo.created_at + 7.days) - todo.created_at) / 86400).floor} days" %>
	</td>
	<td class="completeCol">
		<% if todo.completed %>
			Completed
		<% else %>
			<%= link_to "", todo, method: :delete, class: 'glyphicon glyphicon-ok' %>
		<%end%>
	</td>
<% end %>