@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.media-heading {
	width: 330px;
	display: inline;
}

	.addNew {
		display: inline;
		font-size: 50px;
		padding-left: 10px;
		font-weight: bold;
	}