@import "bootstrap";

body {
	font-family: 'Open Sans', sans-serif;
}

.user-info {
	margin-top: 0;
	display: block;
    padding: 15px 0;
    position: relative;
}

.nav {
  padding-right: 15px;
  width: 90%;

  li {
	a {
		color: #777777;

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
			border-color: transparent;
			}

		&:focus {
			background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.media-heading {
	width: 330px;
	display: inline;
}

.addNew {
	display: inline;
	font-size: 50px;
	padding-left: 10px;
	font-weight: bold;
}

.row {
	padding: 15px;
}

.media {
	margin-top: 0;
	background: white;
}

#addTodoText .form-control {
	width: 40%;
	display: inline;

}

.completeCol  {
	text-align: center;
	width: 200px;

	a {
		color: #eee;
		text-decoration: none;
		font-size: 22px;

		&:hover {
			color: #11AA67;
		}
	}
}

.row .col-md-4 {
	text-align: center;
	span {
		font-size: 30px;
		
		h2 {
			margin-top:5px;
		}
	}
}

.credits {
	text-align: center;
	font-size: 12px;
	margin-top: 50px;
}